<ul class="nav" position="fixed">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/artists">Artists</a></li>
  <li><a href="/songs">Songs</a></li>
  <li><a href="/genres">Genres</a></li>
</ul>

<h1>Main page</h1>
