<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <style>
      .newspaper {
          -webkit-column-count: 3; /* Chrome, Safari, Opera */
          -moz-column-count: 3; /* Firefox */
          column-count: 3;
      }


      /* NAV BAR */

    ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: sans-serif;
    }

    ul.nav li {
        float: left;
        font-family: sans-serif;
    }

    ul.nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: sans-serif;
    }

    /* Change the link color to #111 (black) on hover */
    ul.nav li a:hover {
        background-color: #111;
        font-family: sans-serif;
    }

    .active {
        background-color: #4CAF50;
    }

    </style>
    </head>

  <body>
    <%= yield %>
  </body>
</html>
